<div ng-controller='HomeCtrl'>
    <h1>Marvel</h1>
    <div class="tab-content">
        <li ng-repeat="comic in comics">
            <div class="media-left media-middle">
                <a ng-href="#/menu/{{comid.id}}">
                <img class="media-object img-thumbnail"
                ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt={{comics.title}} height="200" width="200">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{comic.title}}
                <span class="label label-danger">{comic.label}}</span>
                <span class="badge">{{comic.prices.price | currency}}</span></h2>
                <!-- Details -->
                <p>{{comic.description}}</p>
            </div>
        </li>
        </ul>
  </div>
</div>